
<div class="container" data-ng-controller="ListCntrl"  ng-show="test">

<ul class="nav nav-pills nav-stacked">
  <li class="active">
    <a>
      <span class="badge pull-right">{{lists.length}}</span>
      Lists
    </a>
  </li>
</ul>

	<form data-ng-submit="addList()">
    <input type="text" data-ng-model="newList.title" class="form-control" placeholder="New List item goes here, then press Enter" focus>
     </form> 
     <br>


     <div class="list-group">
      <div class="list-group-item todo-item" ng-repeat="list in lists">
         <span class="close" ng-click="deleteList($index)">&times;</span>
        <a data-ng-click="getTask(list.id)">
         {{ list.title}} 
        </a>
      </div>
    </div>


</div>
