
<div class="container" data-ng-controller="ListCntrl"  ng-show="test" data-ng-init="init()">

<ul class="nav nav-pills nav-stacked">
  <li class="active">
    <a>
      <span class="badge pull-right">{{lists.length}}</span>
      Lists
    </a>
  </li>
</ul>

	<form data-ng-submit="addList()">
    <input type="text" data-ng-model="newList.title" class="form-control" placeholder="New List item goes here, then press Enter" focus>
     </form> 
     <br>


     <div class="list-group">
      <div class="list-group-item todo-item" ng-repeat="list in listp">
         <span class="close" ng-click="deleteList(list)">&times;</span>
        <a data-ng-click="getTask(list.id)">
         {{ list.title}} 
        </a>
      </div>
    </div>


<ul class="pagination">
  <li><a a data-ng-click="load(index-1)">&laquo;</a></li>
  <li ng-repeat="i in range track by $index">
    <a data-ng-click="load($index+1)">         {{$index+1}}
    </a>
  </li>
  <li><a data-ng-click="load(index+1)">&raquo;</a></li>
  </ul>

</div>
