<!DOCTYPE html>
<html data-ng-app="Todo">
<head>
  <title>Todo</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
      <script src="/assets/angular.min.js"></script>
    <script src="/assets/angular-route.min.js"></script>
    <script src="/assets/angular-cookies.jslo"></script>
<script src="/assets/angular-resource.min.js"> </script>

<link rel="stylesheet" href="/assets/bootstrap.min.css">


<link rel="stylesheet" href="/assets/show.css">

  <link rel="stylesheet" href="/assets/animate.min.css">
 
 <script src="/assets/angular-animate.min.js"></script>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>


  <%= csrf_meta_tags %>


</head>
<body>

<%= yield %>

</body>
</html>
